commands:
  01_set_tmp_permissions:
    command: "mkdir /var/app/current/tmp; chmod 600 /var/app/current/tmp"
  02_set_tmp_pids_permissions:
      command: "mkdir /var/app/current/tmp/pids; chmod 600 /var/app/current/tmp/pids"
  02_set_tmp_socket_permissions:
      command: "mkdir /var/app/current/tmp/sockets; chmod 600 /var/app/current/tmp/sockets"
