<div class="section-content">
  <div class="container">
    <div class="row">
<p class="text-uppercase"><strong>WHAT IS IDENTITY THEFT? </strong><p>
<p>Law enforcement agencies agree that the key to identity theft is the misuse of consumer address and billing information. You see the headlines almost every day. Unsuspecting consumers are being targeted for and victimized by identity theft from every conceivable angle – financial institutions, retailers, mail boxes, post offices, the Internet, email, relatives, co-workers – and the list keeps growing. You never know when it’s going to be your turn. Guard Street ID is designed to give you the tools you need to prevent your data being exposed and to minimize your exposure and stop the potential misuse of your Identity information. </p>
<p>A crime more than credit card fraud </p>
<p>When most people think of identity theft, they think about a thief using their credit cards. Although a serious crime, this form of identity theft does not require the long, time consuming process of the two most serious forms of ID theft known as Identity Assumption and Synthetic Identity Theft. </p>
<p>The crime of “Identity Assumption” occurs when the thief uses your social security number and your name to commit fraud. The crime of “Synthetic Identity Theft” occurs when the thief uses your social security number and an alias rather than your name to commit fraud. In both cases, the thief either steals or buys a social security number and establishes an address and phone number that you are not aware of. The thief then directs all communication of the fraudulent activity to the address and phone number that the thief controls keeping you unaware of the activity for months or even years. </p>
<p>The longer the thief can prevent you from learning of the fraudulent activity, the more the thief benefits and the more you are harmed.</p>

<p class="text-uppercase"><strong>WHO IS AT RISK?</strong></p>
<p>Identity theft can happen to anyone, a child under the age of 5, an adult, even the dead. Of course the deceased do not have to deal with the problems their loved ones do! The longer the thief can prevent you, the victim, from learning of the fraudulent activity, the more the thief benefits. Meanwhile, harm to the victims continues to grow. </p>
<p>You might already be a victim </p>
<p>The consequences for you and your family can be serious and you can spend years and thousands of dollars getting your identity back. You may not even know your identity has been stolen until it’s too late. You can be denied employment or turned down for a loan.</p>
</div>
</div>
</div>
