<!-- Modal Benefits -->
<div class="modal fade" id="Benefits" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header-std">
        <button type="button" class="close" data-dismiss="modal">
          <span aria-hidden="true">X</span><span class="sr-only">Close</span></button>
      </div>
      <div class="modal-body modal-content-std"><a id="a"></a>

        <h2>Black Market Web Surveillance</h2>

        <p>We scan the internet and known criminal websites for illegal trading of your personal information and monitor unregulated global networks.  Then we help you remove that data from the websites that posted it online. </p>

        <h2>Identity Monitoring</h2>

        <p>Guard Street searches and monitors thousands of databases and billions of records looking for suspicious activity that could indicate the beginning steps of identity theft. If we notice something suspicious, we place a personal call to you.</p>

        <h2>Identity Restoration Service Guarantee</h2>

        <p>The restoration service will do whatever it takes to restore your name to pre identity theft status. The service will take an ‘unlimited’ amount of time, and spend whatever it takes in restoring your identity and good name to a pre-theft status.</p>

        <h2>$1 Million Insurance with a $0 Deductible*</h2>

        <p>This expense reimbursement benefit eases the financial hardships associated with identity theft.</p>

        <h2>Password Protection</h2>

        <p>Top rated password manager remembers your passwords so you don’t have to. Just remember your one Master Password and it remembers the rest. The industry-leading encryption technology securely stores your passwords. The bookmark-style Logins automatically log you in to your favorite websites and fill out those long forms while you shop with one click. One license works on all devices – PC, Mac, mobile, tablet and USB.</p>

        <h2>E-Newsletter (Plus and Premium Plans)</h2>

        <p>Quarterly Identity theft education is a key factor in successful prevention. As a member of Guard Street ID,
          you now have access to a quarterly electronic newsletter that provides helpful and timely information on all
          things identity theft related. </p>

        <h2>Identity Risk Score (Plus and Premium Plans)</h2>

        <p>Your identity risk score is derived by searching billions of records where we apply our unique and
          proprietary analytics to create a risk score between 0-999. The higher your score is, the greater the risk
          that your identity has been or could become compromised.</p>

        <h2>Account Activity Alerts (Plus and Premium Plans)</h2>

        <p>These alerts are for transactions that typically take place outside of a credit report and expose you to
          financial risk. By monitoring participating banks, online retailers, telecom providers, health insurers and
          more, we look for suspicious activity that could indicate the beginning steps of identity theft. </p>

        <h2>Virtual Private Network (Plus and Premium Plans)</h2>

        <p>When you activate our Virtual Private Network (VPN), your credit card, banking information and other personal
          information you may use will be hidden from criminals, fraudsters, hackers and big data marketers. We not only
          hide your IP address, we change it, making your activity thoroughly secure from tracking the sites you
          navigate. As a result, they can’t build a profile about you which could compromise your privacy.</p>

        <p>Our fast, high bandwidth virtual private network is not a public network and allows you to avoid seeing ads.
          It also allows you to access restricted sites overseas like ABC, CBS, Fox News and more.</p>

        <h2>Lost Wallet Protection (Plus and Premium Plans)</h2>

        <p>Our Fraud Resolution Specialists can assist you by requesting an online credit report to ensure no one has
          fraudulently used your credit cards, canceling affected credit cards and bank accounts, having new cards
          issued to you and even placing a fraud alert with the credit reporting agencies; all through the use of
          multi-party phone calls.</p>

        <h2>Credit Monitoring: One Bureau (Plus and Premium Plans)</h2>

        <p>You will be alerted when there is an important change or suspicious activity on your report.</p>

        <h2>Data Breach Notifications (Plus and Premium Plans)</h2>

        <p>We scan known hacked data bases for email addresses that match email addresses provided to us by our members who have created online accounts.  If we detect that your email address is included in the hacked data base records, we send you an email notification.</p>

        <h2>Social Security Statement Access/Reminder</h2>

        <p>Social Security statements should be checked regularly as possible for indicators of identity theft.  Guard Street makes it easy for you to access Social Security statements for you and your family.</p>


        <h2>Change of Address Alerts (Plus and Premium Plans)</h2>

        <p>We monitor the internet for changes to the address listed in your account.</p>

        <h2>Annual Credit Report Reminders (Plus and Premium Plans)</h2>

        <p>This gives you the opportunity to identify any false information before applying for credit. Additionally, if
          you become a victim of identity theft, you may want to check your credit reports for any fraudulent
          activity.</p>

        <h2>Secure Email & Data Storage (Premium Plan)</h2>

        <p>Includes a secure email account where messages are fully encrypted at all times and stored in secure servers
          in Switzerland. Even your communication with non-Guard Street email users is secure.

        <p>

        <p>Create, manage and securely store encrypted passwords and documents of all types (medical records, financial
          records, travel itineraries, etc) using military grade encryption and with the protection of Swiss Privacy
          Laws. Your data is also scanned for viruses as you back them up.</p>
      </div>
    </div>
  </div>
</div>


<!-- Modal Benefits -->
<div class="modal fade" id="Benefits1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header-std">
        <button type="button" class="close" data-dismiss="modal">
          <span aria-hidden="true">X</span><span class="sr-only">Close</span></button>
      </div>
      <div class="modal-body modal-content-std"><a id="a"></a>

        <h2>Black Market Web Surveillance</h2>

        <p>We scan the internet and known criminal websites for illegal trading of your personal information and monitor unregulated global networks.  Then we help you remove that data from the websites that posted it online. </p>

        <h2>Identity Monitoring</h2>

        <p>Guard Street searches and monitors thousands of databases and billions of records looking for suspicious activity that could indicate the beginning steps of identity theft. If we notice something suspicious, we place a personal call to you.</p>

        <h2>Identity Restoration Service Guarantee</h2>

        <p>The restoration service will do whatever it takes to restore your name to pre identity theft status. The service will take an ‘unlimited’ amount of time, and spend whatever it takes in restoring your identity and good name to a pre-theft status.</p>

        <h2>$1 Million Insurance with a $0 Deductible*</h2>

        <p>This expense reimbursement benefit eases the financial hardships associated with identity theft.</p>

        <h2>Password Protection</h2>

        <p>Top rated password manager remembers your passwords so you don’t have to. Just remember your one Master Password and it remembers the rest. The industry-leading encryption technology securely stores your passwords. The bookmark-style Logins automatically log you in to your favorite websites and fill out those long forms while you shop with one click. One license works on all devices – PC, Mac, mobile, tablet and USB.</p>

        <h2>E-Newsletter (Plus and Premium Plans)</h2>

        <p>Quarterly Identity theft education is a key factor in successful prevention. As a member of Guard Street ID,
          you now have access to a quarterly electronic newsletter that provides helpful and timely information on all
          things identity theft related. </p>

      </div>
    </div>
  </div>
</div>


<!-- Modal Benefits -->
<div class="modal fade" id="Benefits2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header-std">
        <button type="button" class="close" data-dismiss="modal">
          <span aria-hidden="true">X</span><span class="sr-only">Close</span></button>
      </div>
      <div class="modal-body modal-content-std"><a id="a"></a>

        <h2>Black Market Web Surveillance</h2>

        <p>We scan the internet and known criminal websites for illegal trading of your personal information and monitor unregulated global networks.  Then we help you remove that data from the websites that posted it online. </p>

        <h2>Identity Monitoring</h2>

        <p>Guard Street searches and monitors thousands of databases and billions of records looking for suspicious activity that could indicate the beginning steps of identity theft. If we notice something suspicious, we place a personal call to you.</p>

        <h2>Identity Restoration Service Guarantee</h2>

        <p>The restoration service will do whatever it takes to restore your name to pre identity theft status. The service will take an ‘unlimited’ amount of time, and spend whatever it takes in restoring your identity and good name to a pre-theft status.</p>

        <h2>$1 Million Insurance with a $0 Deductible*</h2>

        <p>This expense reimbursement benefit eases the financial hardships associated with identity theft.</p>

        <h2>Password Protection</h2>

        <p>Top rated password manager remembers your passwords so you don’t have to. Just remember your one Master Password and it remembers the rest. The industry-leading encryption technology securely stores your passwords. The bookmark-style Logins automatically log you in to your favorite websites and fill out those long forms while you shop with one click. One license works on all devices – PC, Mac, mobile, tablet and USB.</p>

        <h2>E-Newsletter (Plus and Premium Plans)</h2>

        <p>Quarterly Identity theft education is a key factor in successful prevention. As a member of Guard Street ID,
          you now have access to a quarterly electronic newsletter that provides helpful and timely information on all
          things identity theft related. </p>

        <h2>Identity Risk Score </h2>

        <p>Your identity risk score is derived by searching billions of records where we apply our unique and
          proprietary analytics to create a risk score between 0-999. The higher your score is, the greater the risk
          that your identity has been or could become compromised.</p>

        <h2>Account Activity Alerts </h2>

        <p>These alerts are for transactions that typically take place outside of a credit report and expose you to
          financial risk. By monitoring participating banks, online retailers, telecom providers, health insurers and
          more, we look for suspicious activity that could indicate the beginning steps of identity theft. </p>

        <h2>Virtual Private Network </h2>

        <p>When you activate our Virtual Private Network (VPN), your credit card, banking information and other personal
          information you may use will be hidden from criminals, fraudsters, hackers and big data marketers. We not only
          hide your IP address, we change it, making your activity thoroughly secure from tracking the sites you
          navigate. As a result, they can’t build a profile about you which could compromise your privacy.</p>

        <p>Our fast, high bandwidth virtual private network is not a public network and allows you to avoid seeing ads.
          It also allows you to access restricted sites overseas like ABC, CBS, Fox News and more.</p>

        <h2>Lost Wallet Protection </h2>

        <p>Our Fraud Resolution Specialists can assist you by requesting an online credit report to ensure no one has
          fraudulently used your credit cards, canceling affected credit cards and bank accounts, having new cards
          issued to you and even placing a fraud alert with the credit reporting agencies; all through the use of
          multi-party phone calls.</p>

        <h2>Credit Monitoring: One Bureau </h2>

        <p>You will be alerted when there is an important change or suspicious activity on your report.</p>

        <h2>Data Breach Notifications </h2>

        <p>We scan known hacked data bases for email addresses that match email addresses provided to us by our members who have created online accounts.  If we detect that your email address is included in the hacked data base records, we send you an email notification.</p>

        <h2>Social Security Statement Access/Reminder</h2>

        <p>Social Security statements should be checked regularly as possible for indicators of identity theft.  Guard Street makes it easy for you to access Social Security statements for you and your family.</p>

        <h2>Change of Address Alerts</h2>

        <p>We monitor the internet for changes to the address listed in your account.</p>

        <h2>Annual Credit Report Reminders</h2>

        <p>This gives you the opportunity to identify any false information before applying for credit. Additionally, if
          you become a victim of identity theft, you may want to check your credit reports for any fraudulent
          activity.</p>
      </div>
    </div>
  </div>
</div>


<!-- Modal Benefits -->
<div class="modal fade" id="Benefits3" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header-std">
        <button type="button" class="close" data-dismiss="modal">
          <span aria-hidden="true">X</span><span class="sr-only">Close</span></button>
      </div>
      <div class="modal-body modal-content-std"><a id="a"></a>

        <h2>Black Market Web Surveillance</h2>

        <p>We scan the internet and known criminal websites for illegal trading of your personal information and monitor unregulated global networks.  Then we help you remove that data from the websites that posted it online. </p>

        <h2>Identity Monitoring</h2>

        <p>Guard Street searches and monitors thousands of databases and billions of records looking for suspicious activity that could indicate the beginning steps of identity theft. If we notice something suspicious, we place a personal call to you.</p>

        <h2>Identity Restoration Service Guarantee</h2>

        <p>The restoration service will do whatever it takes to restore your name to pre identity theft status. The service will take an ‘unlimited’ amount of time, and spend whatever it takes in restoring your identity and good name to a pre-theft status.</p>

        <h2>$1 Million Insurance with a $0 Deductible*</h2>

        <p>This expense reimbursement benefit eases the financial hardships associated with identity theft.</p>

        <h2>Password Protection</h2>

        <p>Top rated password manager remembers your passwords so you don’t have to. Just remember your one Master Password and it remembers the rest. The industry-leading encryption technology securely stores your passwords. The bookmark-style Logins automatically log you in to your favorite websites and fill out those long forms while you shop with one click. One license works on all devices – PC, Mac, mobile, tablet and USB.</p>

        <h2>E-Newsletter (Plus and Premium Plans)</h2>

        <p>Quarterly Identity theft education is a key factor in successful prevention. As a member of Guard Street ID,
          you now have access to a quarterly electronic newsletter that provides helpful and timely information on all
          things identity theft related. </p>

        <h2>Identity Risk Score (Plus and Premium Plans)</h2>

        <p>Your identity risk score is derived by searching billions of records where we apply our unique and
          proprietary analytics to create a risk score between 0-999. The higher your score is, the greater the risk
          that your identity has been or could become compromised.</p>

        <h2>Account Activity Alerts</h2>

        <p>These alerts are for transactions that typically take place outside of a credit report and expose you to
          financial risk. By monitoring participating banks, online retailers, telecom providers, health insurers and
          more, we look for suspicious activity that could indicate the beginning steps of identity theft. </p>

        <h2>Virtual Private Network</h2>

        <p>When you activate our Virtual Private Network (VPN), your credit card, banking information and other personal
          information you may use will be hidden from criminals, fraudsters, hackers and big data marketers. We not only
          hide your IP address, we change it, making your activity thoroughly secure from tracking the sites you
          navigate. As a result, they can’t build a profile about you which could compromise your privacy.</p>

        <p>Our fast, high bandwidth virtual private network is not a public network and allows you to avoid seeing ads.
          It also allows you to access restricted sites overseas like ABC, CBS, Fox News and more.</p>

        <h2>Lost Wallet Protection</h2>

        <p>Our Fraud Resolution Specialists can assist you by requesting an online credit report to ensure no one has
          fraudulently used your credit cards, canceling affected credit cards and bank accounts, having new cards
          issued to you and even placing a fraud alert with the credit reporting agencies; all through the use of
          multi-party phone calls.</p>

        <h2>Credit Monitoring: One Bureau</h2>

        <p>You will be alerted when there is an important change or suspicious activity on your report.</p>

        <h2>Data Breach Notifications </h2>

        <p>We scan known hacked data bases for email addresses that match email addresses provided to us by our members who have created online accounts.  If we detect that your email address is included in the hacked data base records, we send you an email notification.</p>

        <h2>Social Security Statement Access/Reminder</h2>

        <p>Social Security statements should be checked regularly as possible for indicators of identity theft.  Guard Street makes it easy for you to access Social Security statements for you and your family.</p>

        <h2>Change of Address Alerts </h2>

        <p>We monitor the internet for changes to the address listed in your account.</p>

        <h2>Annual Credit Report Reminders </h2>

        <p>This gives you the opportunity to identify any false information before applying for credit. Additionally, if
          you become a victim of identity theft, you may want to check your credit reports for any fraudulent
          activity.</p>

        <h2>Secure Email & Data Storage </h2>

        <p>Includes a secure email account where messages are fully encrypted at all times and stored in secure servers
          in Switzerland. Even your communication with non-Guard Street email users is secure.

        <p>

        <p>Create, manage and securely store encrypted passwords and documents of all types (medical records, financial
          records, travel itineraries, etc) using military grade encryption and with the protection of Swiss Privacy
          Laws. Your data is also scanned for viruses as you back them up.</p>
      </div>
    </div>
  </div>
</div>

